body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  line-height: 1.5;
}

.section-gs {
  position: relative;
  overflow: hidden;
}

.section-gs.homepage {
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.logo-container img {
  width: 100%;
}

.hero_component {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto
}

.homepage-animation-wrapper {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45vw;
  height: 200%;
  margin-right: 4vw;
  margin-left: 4vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.bottom-item-stack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-filter: blur(0.75px);
  filter: blur(.75px);
  transition: all 1.5s linear;
  animation: bottom-layer 30s linear infinite  ;
}


.top-item-stack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  transition: all 1.5s linear;
  animation: top-layer 15s linear infinite  ;
}

.stack-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 11rem;
  margin-top: 4rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.stack-item.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.stack-item.two-elements {
  height: 8rem;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.stack-item.two-elements.bottom-layer {
  height: 5rem;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.stack-item.three-elements {
  height: 8rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.stack-item.three-elements.bottom-layer {
  height: 5rem
}

.stack-item.one {
  height: 5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.mentor-image-topmost {
  position: relative;
  width: 11rem;
  height: 11rem;
  border: 1px solid #000;
  border-radius: 16px
}

.layer-top {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 48px;
  padding-left: 48px
}

.layer-middle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(0.8px);
  filter: blur(.8px)
}

.mentor-image-middle {
  position: relative;
  overflow: visible;
  width: 8rem;
  height: 8rem;
  border: 1px solid #000;
  border-radius: 16px
}

.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  padding: 1rem .5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 16px;
  background-color: #fff
}

.logo-container.smallest {
  width: 3rem;
  padding-top: .5rem;
  padding-bottom: .5rem
}

.logo-container.middle {
  width: 5rem
}

.middle-item-stack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  transition: all 1.5s linear;
  animation: middle-layer 22s linear infinite  ;
}

.mentor-image-bottom {
  position: relative;
  overflow: visible;
  width: 5rem;
  height: 5rem;
  border: .5px solid #000;
  border-radius: 16px
}

.curved {
  z-index: -1;
  border-radius: 30px
}

.top-layer-mentor-logo {
  position: absolute;
  left: auto;
  top: auto;
  right: -9%;
  bottom: -9%;
  padding: .5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: .5px solid #030a21;
  border-radius: 16px;
  background-color: #fff
}

.middle-mentor-logo {
  position: absolute;
  left: auto;
  top: auto;
  right: -19px;
  bottom: -17px;
  padding: .5rem;
  border: .5px solid #000;
  border-radius: 16px;
  background-color: #fff
}

.middle-mentor-logo.square {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.bottom-mentor-logo {
  position: absolute;
  left: auto;
  top: auto;
  right: -16px;
  bottom: -16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border: .5px solid #000;
  border-radius: 16px;
  background-color: #fff;
  font-size: .6rem;
  white-space: nowrap
}

.animation-gradient {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(86%, #fff));
  background-image: linear-gradient(180deg, transparent, #fff 86%)
}

.full-screen {
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover
}

.full-screen._15px-curved {
  border-radius: 15px
}

@keyframes top-layer {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, -1920px, 0);
  }
}

@keyframes middle-layer {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, -1600px, 0);
  }
}

@keyframes bottom-layer {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, -1300px, 0);
  }
}

@media screen and (min-width:1920px) {

  /* .section-gs.homepage {
    height: 70vh
  } */

  .homepage-animation-wrapper {
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    width: 40vw;
    /* height: 70vh; */
    max-width: 60rem;
    margin-right: 0;
    margin-left: 54vw
  }

}

@media screen and (max-width:991px) {

  @keyframes top-layer {
    0%{
      transform: translateX(10px);
    }
    100%{
      transform: translateX(100vw);
    }
  }

  @keyframes middle-layer {
    0%{
      transform: translateX(10px);
    }
    100%{
      transform: translateX(100vw);
    }
  }

  @keyframes bottom-layer {
    0%{
      transform: translateX(10px);
    }
    100%{
      transform: translateX(100vw);
    }
  }

  .section-gs.homepage {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .homepage-animation-wrapper {
    position: relative;
    width: 200%;
    height: 26rem;
    margin-top: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .layer-bottom {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .bottom-item-stack {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .stack-item {
    height: 26rem;
    margin-top: 0;
    margin-left: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .stack-item.right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .stack-item.one,
  .stack-item.three-elements,
  .stack-item.three-elements.bottom-layer,
  .stack-item.two-elements,
  .stack-item.two-elements.bottom-layer {
    height: 24rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .mentor-image-bottom {
    width: 5rem
  }

  .layer-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }

  .middle-item-stack {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .layer-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .top-item-stack {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
  }

  .animation-gradient {
    display: none
  }

}

@media screen and (max-width:479px) {

  .section-gs.homepage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .stack-item,
  .stack-item.three-elements,
  .stack-item.two-elements {
    height: auto
  }

  .mentor-image-bottom {
    width: 4rem;
    height: 4rem
  }

  .layer-middle {
    padding-top: 46px;
    padding-bottom: 45px
  }

  .layer-top {
    padding: 24px 0
  }

  .mentor-image-topmost {
    width: 8rem;
    height: 8rem
  }

  .mentor-image-middle {
    width: 6rem;
    height: 6rem
  }

}
